Package: com.tyilo.unbox
Name: Unbox
Replaces: org.h2co3.unboxdlaunch
Depends:
Version: 0.0.2
Architecture: iphoneos-arm
Description: filesystem access from a sandbox
Maintainer: Asger Hautop Drewsen (Tyilo) <asgerdrewsen@gmail.com>
Author: Asger Hautop Drewsen (Tyilo) <asgerdrewsen@gmail.com>
Section: System
Tag: role::developer
